/* EMAIL  */

.mailFull {
    position: fixed;
    bottom: 0px;
    right: 40px;
    width: 40px;
    display: none;
    opacity: 0;
}
.mailHold {
    color: var(--dim);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mail {
    font-family: 'Fira Mono', monospace;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    font-weight: 700;
    /* display: none; */
    writing-mode: vertical-rl;
    cursor: pointer;
    margin:20px auto;
}

.mailHold::after {
    content: '';
    height: 100px;
    width: 1px;
    margin: 20px 0 0 0;
    display: inline-block;
    background-color:var(--dim);


}

.mail:hover {
    transition: var(--transition);
    transform: translateY(-3px);
    color: var(--slate);
}

/* SVG UL FOR LINK ICONS */
.svgUlHold {
    position: fixed;
    bottom: 0px;
    width: 40px;
    display: none;
    left: 40px;
    opacity: 0;
    justify-content: center;
}
.svgUl {
    list-style: none;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
}

.svgUl::after {
    content: '';
    margin: 20px 0 0 0px ;
    height: 100px;
    width: 1px;
    display: inline-block;
    background-color:var(--dim);
}


.svgli {
    height: 22px;
    width: 22px;
    color:var(--dim);
    margin: 0 0 20px 0px;
    transition: var(--transition);
}

.svgli:hover {
    color: var(--slate);
    transform: translateY(-2px);
}


/* For Desktop View */
@media screen and (min-width: 824px) {

    .mailFull {
        display:block;
    }

    .svgUlHold {
        display: flex;
    }
}