.head {
    padding: 0 25px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 25, 47, 0.863);
    position: fixed;
    z-index: 10;
}

.svgCode {
    height: 2rem;
    color: #23be9a;
    animation: anim 2s ease-in-out;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.svgMenu {
    height: 2rem;
    color: #24c49e;
    transition: var(--transition);
}

@keyframes anim {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}

.svgX {
    color: #1da585;
    height: 2rem;
    transition: var(--transition);
    z-index: 12;
}

.menuAndX {
    display: block;
}

.navLinks {
    display: none;
}

.ol {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    counter-reset: item ;
}

.li {
    color: #b6cde9;
    text-align: center;
    
    font-family: monospace ;
    font-size:0.8rem;
    margin: 0 1rem;
    animation: slow 300ms ease-in-out 100ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.li:hover {
    color: #5bf4d0;
    cursor: pointer;
}

.li::before {
    margin: 0 5px;
    color: #5bf4d0;
    counter-increment: item;
    content: "0" counter(item) ".";
}

.resume {
    color: #53d3bb ;
    border: 1px solid #53d3bb;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-left:2rem;
    display: block;
    font-size:0.8rem;
    transition: var(--transition);
    animation: slow 300ms ease-in-out 160ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.resume:hover {
    background-color: #124e3f9c;
    cursor: pointer;
}

@keyframes slow {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* For Desktop View */
@media screen and (min-width: 824px) {
    .menuAndX {
        display: none;
    }
    .navLinks {
        display: flex;
    }
    .head {
        padding: 0 50px;
    }

}


/* For Tablet View */
/* @media screen and (min-width: 768px)
and (max-width: 1024px) {
    
} */


/* For Mobile View  */
/* @media screen and (min-width: 300px)
and (max-width: 768px) {
    
} */

