.sidebar {
    position: fixed;
    width: 70%;
    background-color: #112240;
    height: 100vh;
    right: 0;
    top: 0;
    color: wheat;
    animation: anim var(--transition);
    overflow: hidden;
}
@keyframes anim {
    from {width: 0px;}
    to {width: 70%;}
}


.aside {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {

}
.ol {
    list-style: none;
    padding: 0;
    counter-reset: item ;
}

.li {
    margin:30px 0;
    color: #b6cde9;
    position: relative;
    text-align: center;
    transition: var(--transition);
    font-family: monospace;
    font-size:1rem;
}

.li:hover {
    color: #5bf4d0;
    cursor: pointer;
}

.li::before {
    color: #5bf4d0;
    margin-bottom: 10px;
    display: block;
    counter-increment: item;
    content: "0" counter(item) ".";
}

.resume {
    color: #53d3bb ;
    border: 1px solid #53d3bb;
    padding: 0.8em 2.3em;
    border-radius: 4px;
    margin: 3em auto;
    display: block;
    transition: var(--transition);
}

.resume:hover {
    background-color: #124e3f9c;
    cursor: pointer;
}

/* For Desktop View */
/* @media screen and (min-width: 824px) {
    .sidebar {
        display: none;
    }
} */