:root {
  --back: #09192f;
  --slate: #64ffda;
  --lighttest: #ccd6f6;
  --dim: #8892b0;
  --transition:0.2s;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--back);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* For Desktop View */
@media screen and (min-width: 1024px) {
  /* #__next {
    display: flex;
  } */
}