
.main {
    margin: 0;
    padding: 0 25px;
}
.section {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.hi {
    font-family: 'Fira Mono', monospace;
    color:var(--slate);
    animation: slow 600ms 500ms;
    opacity: 0;
    font-size: 0.9rem;
    margin: 0 0 10px 2px;
    animation-fill-mode: forwards;
}

.name {
    color: var(--lighttest);
    font-size: clamp(40px, 8vw, 80px);
    margin: 0;
    font-weight: 600;
    animation: slow 600ms 600ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.iDo {
    color: var(--dim) ;
    font-size: clamp(40px, 5vw, 80px);
    margin: 10px 0;
    font-weight: 600;
    animation: slow 600ms 700ms;
    animation-fill-mode: forwards;
    opacity: 0;

}

.whatIdo {
    color: var(--dim) ;
    font-size: 0.9rem;
    line-height: 1.4rem;
    max-width: 540px;
    animation: slow 300ms ease-in-out 900ms;
    animation-fill-mode: forwards;
    opacity: 0;
}


.upstatement {
    color: var(--slate);
    display: inline-block;
    cursor: pointer;
}

.upstatement::after {
    content: '';
    display: block;
    background-color: var(--slate);
    height: 1px;
    opacity: 30%;
    position: relative;
    bottom: 0.20em;
    transform: scaleX(0);
    transition: var(--transition);
    transform-origin:left;
    
}

.upstatement:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
    
    
}



.songs {
    color: var(--slate);
    border: 1px solid var(--slate);
    padding: 20px 40px;
    border-radius: 4px;
    margin-top: 30px;
    position: relative;
    font-family: monospace;
    animation: slow 300ms ease-in-out 1000ms;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: var(--transition);
    overflow: hidden;
}

.songs::before {
    content: '';
    height: 115px;
    width: 31px;
    right:0;
    top: 0;
    transform: rotate(29deg);
    background-color: rgba(14, 80, 85, 0.438);
    position: absolute;
    
}

.songs::after {
    content: '';
    height: 115px;
    width: 31px;
    right: 0;
    top: 0;
    transform: rotate(76deg);
    background-color: #0d606670;
    position: absolute;
    
}

.songs:hover {
    background-color:  #124e3f9c;
    cursor: pointer;
}

@keyframes slow {
    0% {
        transform: translateY(10px);
        opacity: 0;
        
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        
    }
}

/* For Desktop View */
/* @media screen and (min-width: 824px) {
    .main {
        padding: 0 180px;
    }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main {
        padding: 0 25px;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .main {
        padding: 0 55px;
    }
}
  
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main {
        padding: 0 150px;
    }  
    .hi {
        margin: 0 0 0 6px;
    }
    
} 


  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main {
        padding: 0 0 0 200px;
    }
} 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
}